<nav class="navbar navbar-expand-lg navbar-light bg-yellow">
    <a class="navbar-brand" href="#">Angular test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/administrator']">Inicio </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/administrator/ingredients']">Ingredientes populares </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/administrator/meals']">Platillos </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/administrator/profile']">Mi perfil </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container pt-3">
    <router-outlet></router-outlet>
</div>